@function articleHeight($articleWidth){
  $articleHeight : 2 / 3 * $articleWidth;
  @return $articleHeight;

}

@mixin article ($articleNumber){
  background: url("../img/articles/item-#{$articleNumber}.jpg");
  width: 350px;
  height: articleHeight(350px);
  margin: 0px 80px 15px 0px;
}

article{
  @for $i from 1 through 6{
    &.item-#{$i}{
      @include article($i);
    }
  }
}



@mixin author {
  &.author{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
    border: solid white 2px;
  }
}
img{
  @include author;
}

#timeline{

  float: left;
  margin-left: 405px;
}

@for $i from 1 through 6 {
  article{
    &.item-#{$i} {
      .arrow
      {
        //les articles de gauche
        @if $i % 2 != 0 {
          float: right;
          margin-right: -28px;
          margin-top: 10px;
        }
        //les articles de droite
        @else{
          float: left;
          margin-left: -28px;
          margin-top: articleHeight(350px)-30px;
          transform: rotate(180deg);
        }
      }

      .dot{
        //les articles de gauche
        @if $i % 2 != 0 {
          @include point();
          float: right;
          margin-right: -59.5px;
          margin-top: 10px;
        }
        //les articles de droite
        @else{
          @include point();
          float: left;
          margin-left: -59.5px;
          margin-top: articleHeight(350px)-30px;
        }
      }
    }
  }
}
