@mixin button($color : $primary-color, $text : white) {
  background-color: $color;
  border: 1px solid darken($color, 10%);
  border-radius: 1000px;
  color: $text;
  &:hover{
    background: darken($color, 20%);
  }
  &:active{
    background: darken($color, 20%);
  }
}


@mixin horizontal-line($color :#abb3b9, $width: 100%, $thickness: 2px){
  border-bottom: solid $thickness $color;
  width: $width;
}

@mixin photo($name, $size: 100%){
  background: url("../img/users/#{$name}.png");
  height: $size;
  background-repeat: no-repeat;
}

@mixin point($color:#b5bdc2) {
  $size: 20px;
  width: $size;
  height: $size;
  background: $color;
  //border: 1px solid darken($color, 10%);
  border-radius: 100%;
}

@mixin author {
  &.author{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
    border: solid white 2px;
  }
}

@mixin article ($articleNumber){
  background: url("../img/articles/item-#{$articleNumber}.jpg");
  width: 350px;
  height: articleHeight(350px);
  margin: 0px 80px 15px 0px;
}
