@mixin button($color : $primary-color, $text : white) {
  background-color: $color;
  color: $text;
}

@mixin horizontal-line($color, $width, $thickness){
  border-bottom: solid $thickness $color;
  width: $width;
}

@mixin photo($size, $name){
  background: "img/users/#{$name}";
  width: $size;
}
