// Variable used in global.scss
//Changing this variable value will modofy each line which use this variable
$primary-color : #1e95ba;
$article-width : 80%;
$users : gustav maykel tim dann kerem eric eddie erika manouk jenny raquel;
